h1 {
    font-size: 3em;
    color: #E2C044;
}

h5 {
    color: #9EB1Bc;
}

h4 {
    color: #2E5266;
}

body {
    background-color:#1A2D38;
    margin-top:15em;
    margin-bottom: 20em;
}

#Header{
    background-color: #1A2D38;
}

#top{
    background-color:#E2C044;
    border-bottom-right-radius: 100%;

}

#Left{
    background-color:#2E5266;
    border-bottom-left-radius: 50%;
}

body {
    color:#D3D0CB;
}

#Right {
    background-color: #5B707D;
     border-top-right-radius: 50%;
}

#ID {
   background-color:#E2C044;
 
   
}

.picture {
    border-radius: 50%;
}

.Right {
    color:#1A2D38;
    

}
#Objective {
        background-color:#E2C044;
    border-bottom-right-radius: 100%;
   
}