h1 {
    font-size: 8em;
    color: deeppink;
}
body {
    background-image: url("back1.png");
    background-size: cover;
    background-repeat: no-repeat;
}


blink {
        animation: blinker 0.6s linear infinite;
        color: hotpink;
       }
      @keyframes blinker {  
        50% { opacity: 0; }
       }
       .blink-one {
         animation: blinker-one 1s linear infinite;
       }
       @keyframes blinker-one {  
         0% { opacity: 0; }
       }
       .blink-two {
         animation: blinker-two 1.4s linear infinite;
       }
       @keyframes blinker-two {  
         100% { opacity: 0; }
       }

h2 {
    font-size: 4em;
    color: red;
}

h3 {
    font-size: 6em;
    color: palevioletred;
}